### --
.project
*/.project
**/.project

.settings
*/.settings/
**/.settings/

.classpath
*/.classpath
**/.classpath

target
*/target
**/target

target*
*/target*
**/target*

logs
*/logs
**/logs

log
*/log
**/log

lib
*/lib
**/lib

libs
*/libs
**/libs

tmp
*/tmp
**/tmp

*.iml
*/*.iml
**/*.iml

.idea
*/.idea
**/.idea

.checkstyle
*/.checkstyle
**/.checkstyle

.factorypath
*/.factorypath
**/.factorypath

