<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log.base.dir">${sys:betty.work.dir}/logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}[%-5level]%C{1}(%L)%msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${log.base.dir}/debug.log"
			filePattern="${log.base.dir}/debug-%d{yyyyMMddHHmmssSSS}.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}[%-5level]%C{1}(%L)%msg%n" />
			<!-- 日志文件大小 -->
			<SizeBasedTriggeringPolicy size="200MB" />
			<!-- 最多保留文件数 -->
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<RollingFile name="error_appender" fileName="${log.base.dir}/error.log" filePattern="${log.base.dir}/error.log.%d{yyyy-MM-dd}">
    		<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}[%-5level]%C{1}(%L)%msg%n"/>
    		<Policies>
    			<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
    		</Policies>
    	</RollingFile>
		
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="error_appender" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>